html, body {
	margin:0;
	padding: 0;
	width: 100vw;
	height: 300vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body {
	overflow: hidden;
	position: absolute;
}

a {
	text-decoration: none;

}

a:link, a:visited {
	color: black;
}
#barContainer {
	width:100%;
	height: 10%; 
	top: 0px;
	padding-top: 2%;
	text-align: center;
	position: fixed;
	z-index: 5;
}

#bar {
	position: absolute;
	text-align: right;
	display: inline-block;
	width: 50%;
	background: white;
	list-style-type: none;
	padding-right: 10px;
}

.name-bar {
	font-family: "argh"; 
	position: absolute;
	top: 0px;
	padding-top: 2%;
	color:black;
	text-align: left;	
	padding-left: 3%;
	font-size: 30px;	
}

#introBar {
	list-style-type: none;
	margin-top: 0.1%;
	overflow: hidden;
	background-color: white;
	text-align: center;
	display: inline-block;
	padding-left: 0;
	
}


/*
#AboutMeP{
	position: relative;
	left: 0%;
	width: 100%;
	margin-top: 75vh;
	text-align: left;

}

#aboutMeText {
	position: relative;
	width: 100%;
	top: 40vh;
}

*/

#portfolioP {
	position: relative;
	left: 0%;
	width: 100%;
	top: 65vh;
	text-align: left;
	
}
#resumeDownload {
	position:relative;
	top:10vh;
	border-radius: 10px ;
	border: 2px solid black;
	width: 10%;
	height: 5%;
	padding: 10px;
	margin-left: -10px;	
	left: 44.5%;
	background-color: rgb(240,240,240);
	text-align: center;
}
/*
#portfolioP {
	position: relative;
	left: 0%;
	width: 100%;
	top: 112vh;
	text-align: left;
	
}
*/

#resumeDownload:hover {
	background-color: rgb(212,212,212);
}

#resumeText {
	position: relative;
	text-align: left;
	width: 50%;
	left: 35%;
	top: 15vh;
	font-size: 16px;
}

.portfolioHead {
	position: relative;
	text-align: left;
	left: -25%;
	margin-top: 10%;
	
}

.portfolioJobName {
	position: relative;
	text-align: left;
	left: -25%;
	margin-top: 0;
	font-size: 15px;
	color:rgb(90, 90, 90);
}

.portfolioJobLocation {
	position: relative;
	right: -40%;
	color: rgb(90, 90, 90)
}


.portfolioDate {
	position: relative;
	right: -34.5%;
	color: rgb(90, 90, 90)
}

.portfolioJobLocation, .portfolioHead {
	display: inline;
}

.portfolioJobName, .portfolioDate {
	display: inline;
}


#TrotterDate {
	right: -38.5%;
}

hr {
	width: 100%;
	margin-left: -20%;
}


.descriptionItem {
	margin-left: -10%;
	margin-top: 1%;
}

/*
#resumeP {
	position: relative;
	left: 37.5%;
	width: 50%;
	margin-top: 120vh;
	text-align: center;

}
*/


#contactMeP {
	position: relative;
	top: 112vh;
	text-align: center;
	width: 100%;
	left: 0;
}

#contactmeHeader {
	position:relative;
	left:25%;

}


.inputBox {
	position:relative;
	width:100%;
	margin-top: 2%;
}

#nameInput{
	position:relative;
	margin-top:3%;
}

#fname, #lname{
	width: 20%;
	padding: 12px;
	border: 2px solid rgb(226, 226, 226);
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 1%;
	font-size: 20px;
	
}

#email {
	position: relative;
	font-size: 20px;
	width:39%;
}

#subject {
	
	width:40%;

	font-size: 20px;
	border-radius: 5px;
}

input[type=submit] {
	background-color: rgb(240,240,240);
	padding: 12px 20px;
	border: 1px black;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
background-color:rgb(212,212,212);
}


#fname, #lname {
	display: inline;
}


li.topList {
	font-family: 'playfair';

	display: inline-block;
	text-align: center;
	padding: 25px 32px;
	margin: 10px;
	text-decoration: none;
}

li.topList:hover {
	background-color: rgb(226, 226, 226);
}

ul.JobDescription{
	margin-left: -15%;
}

ul.SubDescription li {
	list-style-type: circle;
	margin-left: 0%;
	
}

#homeButton {
	background-color: rgb(226,226,226);
}

.textContainer{
	width:100%;
	position:relative;
	height: 50vh;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	top: 6.5%;
}

.header {
	position: relative;
	top: 10vh;
	font-family: 'argh'; 
	font-size: 18px;
	
	width: 100%;
	left: -0.25%;
	word-wrap: normal;
	text-align: center;
}

.text {
	position: relative;
	font-family: 'argh'; 
	font-size: 18px;
	width: 50%;
	word-wrap: normal;
	text-align: center;
}
.footer {
	position: fixed;
	left: 0%;
	bottom: 0;
	width: 100%;
	height: 20px;
	text-align: center;
}
.links {
	position: relative;
	margin-top: -45px;
	padding-bottom: 5px;
	left: 25%;
	width: 50%;
	word-wrap:normal;
	text-align: center;
}

#toTop {
	display: none;
	position: relative;
	margin-top: -50px;
	left: 95%;
	width: 2%;
	padding: 5px;
	border-radius: 50%;
	border: 1px solid black;
}
#toTop:hover {
	background-color: rgb(226,226,226);
}

#copyright {
	position:relative;
	font-family: "playfair";
	margin-top:0.1%; 
	font-size: 12px;
	opacity: 0.5;
}



@font-face{
	font-family: "playfair";
	src: url('fonts/PlayFairReg.ttf');
}

@font-face{
	font-family: "argh";
	src: url('fonts/Aaargh.ttf')
}