html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

.top-bar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    background-color: white;
}

.top-nav {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    display: inline-block;
    text-align: right;
}

.top-nav li {
    display: inline-block;
    font-family: 'playfair';
    font-size: 1.5em;
    margin: 5px;
    padding: 2%;
    user-select: none;
    
}

.top-nav ul {
    display: inline-block;
    height:100%;
    list-style: none;
}

#page-nav {
    width: 100%;
    margin-bottom: 0;
    height:100%;
}

#page-nav li:hover {
    background-color: rgb(226, 226, 226);
}

#website-logo {
    display:inline-block;
    width: 47%;
    font-family: "argh";
    text-align: left;
    background-color: white;
    height: 10%;
}

#website-logo h1 {
    margin-left: 5%;
}

.page {
    margin-top: 7%;
}

.about {
    /* display: inline-block; */
    height:55vh;
    width: 100%;
    text-align: center;
}

.text {
    margin: auto;
    font-family: 'argh';
    width: 80%;
}

#intro {
    margin-top: 45vh;
	font-size: 20px;
}

#intro2 {
	font-size: 20px;
}

.header {
    width: 100%;
    font-size: 25px;
    text-align: center;
    position:relative;
}

#projects {
    position: relative;
    height: 50vh;
}

.project-buttons {
    width: 70%;
    height: 50%;
    margin-left: 19.75%;
    margin-top: 5%;
}

button {
    z-index: 0;
    position: relative;
    height:30vh;
    width:27vw;
    padding: 0;
    border: none;
    background: none;
    margin-left: 2%;
    margin-right: 2%;
    display:inline-block;
}

button:hover .image-overlay {
    opacity: 0.95;
}

.image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: grey;
    border-radius: 50px;
}

.image-info{
    position: absolute;
    width:100%;
    height:100%;
    top:27%;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'argh';
    font-size: 200%;
    text-shadow: 0px 2px 0 #000
}

.image-info #description {
    margin-top: -3%;
    font-size: 70%;
}

.thumbnail img{
    max-height:27vh;
    max-width:25vw;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 2;
    padding-top: 10%; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    width: 100%; 
    height: 100%;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 1.5em;
    width: 85%;
    margin-left: 5%;
}


.modal-content {
    display: inline-block;
}
.modal-content h2:hover {
    color: grey;
}

.modal-content h2 {
    padding-top: -10%;

}

.modal-content .text {
    width: 50%;
    margin-left: 10%;
    padding-left: 35%;
}
.project-image {
    height: 40%;
    width: 40%;
    margin-left: 2%;
}

.project-image img {
    float:left;
    position: relative;
    height:100%;
    width:100%;
    margin-top:6%;
}

#badmintonscoresModal img:hover {
    filter:brightness(50%);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

#experience {
    position: relative;
    margin-bottom: 20vh;
}

.header {
    font-family: "playfair";
}


.jump_to {
    position: absolute;
    top: -20%;
}


.links {
    margin:auto;
    text-align: center;
}

.links a {
    margin-left: 0.2%;
    margin-right:0.2%;
}

#personal-contact {
    margin-top: 0.2%;
    text-align: center;
}


.oneExperience {
    display: flex;
    width: 100%;
    height: 10%;
    margin-top: 3%;
}

.experienceInfo{
    display:inline-block;
    width:50%;
}

.oneExperience img {
    display:inline-block;
    margin-left: 41%;
    height: 5%;
    width: 5%;
}

.experienceText {
    /* display:inline-block; */
    /* display:block; */
    font-family: 'argh';
    font-size: 25px;
    width: 50%;
    height:50%;
    margin-left: 5%; 
    padding-top: 0.1%;
}

.experienceInfo p {
    height: 20%;
    margin-top: -1%;
    margin-bottom: 1.5%;
    margin-left: 5%;
    font-size: 17px;
    font-family: 'argh';
}

#resumeDownload {
    display: table;
	border-radius: 15px ;
	border: 2px solid black;
	width: 10%;
	height: 5%;
    line-height: 5%;
    margin-left: 45%;
    margin-top: 1%;
	background-color: rgb(240,240,240);
	text-align: center;
}

#resumeDownload p{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

#resumeDownload:hover {
    background-color: rgb(212,212,212);
}
.footer {
    width:100%;
}


@font-face{
	font-family: "playfair";
	src: url('fonts/PlayFairReg.ttf');
}

@font-face{
	font-family: "argh";
	src: url('fonts/Aaargh.ttf')
}