html, body {
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
}

a {
	text-decoration: none;

}

a:link, a:visited {
	color: black;
}
#barContainer {
	width:100%;
	height: 10%; 
	top: 0px;
	padding-top: 2%;
	text-align: center;
	position: absolute;
}

#bar {
	position: absolute;
	text-align: right;
	display: inline-block;
	width: 50%;
	background: white;
	list-style-type: none;
	padding-right: 10px;
}

.name-bar {
	font-family: "argh"; 
	position: absolute;
	top: 0px;
	padding-top: 2%;
	color:black;
	text-align: left;	
	padding-left: 3%;
	font-size: 30px;	
}

#introBar {
	list-style-type: none;
	margin-top: -0.75%;
	overflow: hidden;
	background-color: white;
	text-align: center;
	display: inline-block;
	padding-left: 70%;
	
}



li {
	font-family: 'playfair';

	display: inline-block;
	text-align: center;
	padding: 25px 32px;
	margin: 10px;
	text-decoration: none;
}

li:hover {
	background-color: rgb(226, 226, 226);
}

#projectsBar {
	background-color: rgb(226,226,226);
}

.textContainer{
    position:relative;
	width:100%;
	height: 5%;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
	top: 40%;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	text-align: center;
}
.links {
	position: relative;
	margin-top: -50px;
	padding: 10px;
	word-wrap:normal;
	text-align: center;
}



#copyright {
	position:relative;
	font-family: "playfair";
	margin-top:0.1%; 
	font-size: 11px;
	opacity: 0.5;
}


@font-face{
	font-family: "playfair";
	src: url('fonts/PlayFairReg.ttf');
}

@font-face{
	font-family: "argh";
	src: url('fonts/Aaargh.ttf')
}